@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme{
  --color-cyan: #16B1E1;
  --color-navbg: #001A1F;
  
}

/* Custom scrollbar hiding utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.input {
  @apply w-full border border-gray-300 p-3 rounded focus:outline-none focus:ring-1 focus:ring-black ;
}
.error {
  @apply text-sm text-red-500 mt-1;
}



.inputjob {

  @apply w-full border border-gray-500 p-3 rounded focus:outline-none focus:ring-1 focus:ring-black text-gray-200 focus:border-white  mb-5;


}